html, body{
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: #373737;
}

.grid{
  /*border : solid 1px;
  border-color: red;*/
  height: 100%;
  width: 100%;
}

.row{
  /*border: solid 1px;
  border-color: blue;*/
  background-color: #2eb2ff;
  height: 10%;
  width: 101.2%;
}

.logo{
  font-size: 70px;
  color: white;
  text-align: center;
  margin-left: 15%;
  background-image:radial-gradient(#99e265, #ab2849);
  height: 150%;
}

a{
  text-decoration: none;
  color: white;
}

.user-icon{
  margin-left: 81%;
  margin-top: -7.25%;
  height: 50%;
}

.barre{
  color: white;
  height: 50%;
  margin-left: 45%;
  margin-top: 1%;
}

.btn-group{
  margin-top: 5%;
  margin-left: 0.7%;
}
.btn-primary{
  /*background-color: #5271FF;*/
}

.dropdown-menu{
  background-color: #2EB2FF;
}

.dropdown-item{
  color: white;
}

#carouselExampleIndicators{
  height: 50%;
  margin-top: 2%;
}

.carousel {
  margin: auto;
}

.d-block{
  margin: auto;
  height: 10%;
}

.sign{
  height: 10%;
  width: 15%;
  border: solid 1px;
  border-color: #99e265;
  position: absolute;
  margin-top: 3.7%;
}

h5{
  background-color: #0069D9;
  opacity: 0.7;
  width: 70%;
  margin: auto;
}

.btn-success{
  margin-left: 40%;
}

#bc{ /*positionnement de bouton se connecter*/
  left: -10%;
  top: 89%;
}

#bi{ /*positionnement de bouton s'identifier*/
  left: 15%;
  top: 89%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: -1% -2%;
  margin: -8% 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 2%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 1% 2%;
    background-color: #ab2849;
}

.container {
    width: 70%;
}

span.psw {
    float: right;
    padding-top: 2%;
    padding-left: 12%;
    padding-right: 12%;
}

/* The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 5%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: -2% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 1%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.imgcontainer{
  padding: 3%;
}

.avatar{
  height: 30%;
  width: 30%;
  margin-left: 35%;
  background-image:radial-gradient(#99e265, #ab2849);
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #44d9e6;
  outline: none;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 3%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
